{% extends 'final/base_profile.html' %}

<!--Tabs-->
{% block tab1 %} Profile {% endblock %}
{% block tab2 %} Listings {% endblock %}
{% block tab3 %} My Listings {% endblock %}

{% if request.user.is_authenticated %}
{% block tab1_info %}
<!--Home-->
<div class="row">
    <div class="col-xs-12 col-sm-3 center">
        <a href="#">
            <span class="profile-picture" style="width:100px; height:100px; border-radius: 50%;">
                <img style="height:100%; width:100%; border-radius: 50%;" class="editable img-responsive" alt=" Avatar"
                    id="avatar2" src="http://{{context.media_base}}/media/{{context.user.profile_picture}}">    
            </span>
        </a>
        <div class="space space-4"></div>
    </div>

    <div class="col-xs-12 col-sm-9">
        <h4 class="blue">
            <span class="middle">{{context.user.first_name}} {{context.user.last_name}}</span>
        </h4>
        <div class="profile-user-info">
            <div class="profile-info-row">
                <div class="profile-info-name"> Username </div>
                <div class="profile-info-value">
                    <span> {{context.user.username}} </span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> Location </div>
                <div class="profile-info-value">
                    <i class="fa fa-map-marker bigger-110"></i>
                    <span> {{context.user.city}} </span>
                    <span> {{context.user.state}}</span>
                </div>
            </div>
        </div>
        <div class="hr hr-8 dotted"></div>
        <div class="profile-user-info">
            <div class="profile-info-row">
                <div class="profile-info-name"> Email </div>

                <div class="profile-info-value">
                    <a href="#" target="_blank"> {{context.user.email}} </a>
                </div>
            </div>
            {% if request.user.username == context.user.username %}
            <div class="profile-info-row">
                <div class="profile-info-name">
                    <i class="middle ace-icon fa fa-twitter-square bigger-150 light-blue"></i>
                </div>
                <div class="profile-info-value">
                    <a href="{% url 'postman:inbox' %}">Inbox</a>
                </div>
            </div>
            {% else %}
            <div class="profile-info-row">
                <div class="profile-info-name">
                <i class="middle ace-icon fa fa-twitter-square bigger-150 light-blue"></i>
                </div>
                <div class="profile-info-value">
                    <a href="{% url 'postman:write' %}">Message Me</a>
                </div>
            </div>
            {% endif %} 
        </div>
        {% if request.user.permission_level == 1 and request.user.username == context.user.username %}
        <button class="ui basic button">
            <i class="home icon"></i>
            <a href="{% url 'add_new_property' %}">
                Add New Listings +   
            </a>
        </button>
        {% endif %}
    </div>
</div>
<div class="space-20"></div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-small">
                <h4 class="widget-title smaller">
                    <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                    Little About Me
                </h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    {{context.user.bio}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block tab2_info %}
<!--Listings-->
<!-- <h1 class="text-center" style=>Listings</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="media">
                <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i>
                </div>
                <img class="d-flex align-self-start"
                    src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?h=350&auto=compress&cs=tinysrgb"
                    alt="Generic placeholder image">
                <div class="media-body pl-3">
                    <div class="price">$799,000<small>New York</small></div>
                    <div class="stats">
                        <span><i class="fa fa-arrows-alt"></i>1678 Sq ft</span>
                        <span><i class="fa fa-bath"></i>2 Beadrooms</span>
                    </div>
                    <div class="address">4062 Walnut Hill Drive
                        Cincinnati
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="media">
                <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i>
                </div>
                <img class="d-flex align-self-start"
                    src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?h=350&auto=compress&cs=tinysrgb"
                    alt="Generic placeholder image">
                <div class="media-body pl-3">
                    <div class="price">$799,000<small>New York</small></div>
                    <div class="stats">
                        <span><i class="fa fa-arrows-alt"></i>1678 Sq ft</span>
                        <span><i class="fa fa-bath"></i>2 Beadrooms</span>
                    </div>
                    <div class="address">4062 Walnut Hill Drive
                        Cincinnati
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="media">
                <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i>
                </div>
                <img class="d-flex align-self-start"
                    src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?h=350&auto=compress&cs=tinysrgb"
                    alt="Generic placeholder image">
                <div class="media-body pl-3">
                    <div class="price">$799,000<small>New York</small></div>
                    <div class="stats">
                        <span><i class="fa fa-arrows-alt"></i>1678 Sq ft</span>
                        <span><i class="fa fa-bath"></i>2 Beadrooms</span>
                    </div>
                    <div class="address">4062 Walnut Hill Drive
                        Cincinnati
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="media">
                <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i>
                </div>
                <img class="d-flex align-self-start"
                    src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?h=350&auto=compress&cs=tinysrgb"
                    alt="Generic placeholder image">
                <div class="media-body pl-3">
                    <div class="price">$799,000<small>New York</small></div>
                    <div class="stats">
                        <span><i class="fa fa-arrows-alt"></i>1678 Sq ft</span>
                        <span><i class="fa fa-bath"></i>2 Beadrooms</span>
                    </div>
                    <div class="address">4062 Walnut Hill Drive
                        Cincinnati
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div> -->
{% endblock %}

{% block tab3_info %}

<!--My Listings-->
<div class="containe modal-body">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1"> Change Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1"> confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}

{% else %}
<h1>YOUR'E NOT SUPPOSED TO BE HERE</h1>
{% endif %}
