
body{
    margin: 0;
    padding: 0;
    background-color: #fff;     }
.mian-container{
   margin: 20px 0;
    text-align: center;
   display: block;
   height: 95vh;
   background-color: #ccc;
   width: 75%;
   margin: 20px auto;
   padding: 20px;
   box-shadow: 0 40px 40px rgba(0,0,0 ,.7);
}
.main-heading{
   text-transform: uppercase;
   color: black;
   
}
.second-heading{
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight:700;
   font-size: 30px;
   color:maroon;    }
.sub-2ndheading{
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size:20px;
   color:midnightblue;

}
.display-4{
    font-family: 'Times New Roman', Times, serif;
    padding: 80px 0 0 0;
    box-sizing: border-box;
    contain: 
}