<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'about/fatma-style.css' %}">
<!-- <link rel="stylesheet" href="fatma-style.css"> -->
    <title>Document</title>
</head>
<body>
    <div class="mian-container">
        <h1 class="main-heading">Welcome to my Page!!</h1>
        <div class="contents">
            <h2><span class ="second-heading">My name is Fatma Khan.</span><br>
             <!-- <span class="sub-2ndheading"> I'm a computer Science student at SFSU!</span> -->
            </h2>
            
        </div>
        <div class="container ">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="display-4">
                       About me
                    </h3>
                   <p>I'm a computer science student at SFSU. This is my last semester and I graduate this May.
                    My goals are to work in e-commerce companies in the near future. I would like to start as a front
                    end devloper since I enjoy designing pages and later move to back end to become a full stack web-developer. My hobbies are to play badminton and read and write poetry. 

                   </p>
                   </div>
                   <div class="col-lg-6">
                       <img src="{% static 'about/images/pet.jpg' %}" alt="pet" class="img-fluid p-5 ">
                   </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>
